<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= form_for @link, remote: true do  |form| %>
    <%= form.text_field :original_url, class: "form-control",
    placeholder: "Enter URL to shorten" %>
    <%= form.submit "Shorten", class: 'btn btn-primary mt-2' %>
    <% end %>
    </div>
    

    </div>

    
 <div id="error-message">
   
</div>
<br><br>
<div  data-controller="clipboard">
  The Shortened Url: <input id="short-link" data-clipboard-target="source"  type="text"  readonly>
  <button data-action="clipboard#copy">Copy </button>
</div>

<div>
No.of shortened URLs queried    : <%= Link.count %><br>
No.of distinct URLs queried     : <%= Link.distinct.count(:original_url) %><br>
No.of duplicate shortened URLs  : <%= (Link.count == Link.distinct.count(:lookup_code)? 0 : Link.count - Link.Link.distinct.count(:lookup_code)) %>
</div>